{% extends 'core/base.html' %}
{% block title %} SchoolPlanner - Account {% endblock %}

{% block content %}



	<div class="container-fluid mt-4 ps-lg-5">
		<div class="ps-lg-5 pt-3">

			<form action="">
				<div class="row ps-2">
					<div class="col-lg-5 rounded shadow mt-lg-0 pt-3 pt-lg-5 bg-pink2">
						<div class="d-flex justify-content-start ps-lg-4">
							<div class="avatar-upload">
								<div class="avatar-edit">
									<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
									<label for="imageUpload"></label>
								</div>
								<div class="avatar-preview">
									<div id="imagePreview" style="background-image: url('/static/core/images/jugalux.png'); width: 110px; height: 110px;">
									</div>
								</div>
							</div>
						</div>

						<div class="p-lg-4 mt-lg-3">
							<p class="mt-2">Nom complet: <span class="text-uppercase fw-bold text-dark">Gaëlle Tamho</span> </p>
							<p class="mt-4">Email: <span class="fw-bold text-dark">jugalux111@gmail.com</span> </p>
							<p class="mt-4">Institution: <span class="text-uppercase fw-bold text-dark">Université de Yaounde 1</span> </p>
						</div>
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-6 mt-lg-0 mt-lg-3 mt-5 pt-lg-3 pt-5">
						<h4 class="ms-lg-5 fw-bold text-dark">Modifier mes informations</h4>
						<div class="">
							<div class="d-grid px-lg-5 mt-4">
								<label for="">Nom complet :</label>
								<input type="text" placeholder="Entrez votre nom complet" class="mt-2 bg-dark p-2 border-0 text-white rounded">
							</div>
							<div class="d-grid px-lg-5 mt-3">
								<label for="">Adresse Email :</label>
								<input type="text" placeholder="Entrez votre adresse email" class="mt-2 bg-dark p-2 border-0 text-white rounded">
							</div>
							<div class="d-grid px-lg-5 mt-3">
								<label for="">Institution :</label>
								<input type="text" placeholder="Entrez lz nom de votre établissement" class="mt-2 bg-dark p-2 border-0 text-white rounded">
							</div>
							<div class="d-flex justify-content-center px-5 mt-5">
								<button type="button" class="btn bg-pink text-white px-lg-5 w-100">Enregistrer</button>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>



{% endblock %}



{% block extra_script %}

	<script type="text/javascript">

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					$('#imagePreview').css('background-image', 'url('+e.target.result +')');
					$('#imagePreview').hide();
					$('#imagePreview').fadeIn(650);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		$("#imageUpload").change(function() {
			readURL(this);
		});
	</script>
	

{% endblock %}
