{% extends 'core/base.html' %}
{% block title %} SchoolPlanner - Classrooms {% endblock %}

{% block content %}

	<div class="container-fluid my-4 pt-4">
		<h1>Hello Classrooms</h1>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  	<div class="modal-content">
				<div class="modal-header bg-dark">
					<h5 class="modal-title text-center text-white" id="exampleModalLabel">NOUVELLE SALLE</h5>
					<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="form">
						<form action="">
							<div class="d-grid px-lg-5">
								<label>Nom de la salle</label>
					            <input type="text" placeholder="Nom de la salle" class="my-3 bg-dark p-2 border-0 text-white rounded">
					            <label>Capacité</label>
					            <input type="number" placeholder="Nom de la salle" class="my-3 bg-dark p-2 border-0 text-white rounded">
							</div>
							<div class="modal-footer d-flex justify-content-center px-5">
								<button type="button" class="btn bg-pink text-white px-lg-5">Enregistrer</button>
							</div>
						</form>
					</div>
	      		</div>
	    </div>
	  </div>
	</div>
<!-- 	**********************************Delete confirmation modal************************* -->

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
	  	<div class="modal-content">
			<div class="modal-header bg-dark">
				<h5 class="modal-title text-center text-white" id="exampleModalLabel">CONFIRMATION DE SUPPRESION</h5>
				<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
		    <div class="modal-body">
		        Êtes-vous sûr de vouloir supprimer cette salle ?
		    </div>
		    <div class="modal-footer">
		        <button class="bg-pink text-white border-0 p-1 pe-3 ps-3 rounded-3" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Oui</button>
		        <button class="bg-black text-white border-0 p-1 pe-3 ps-3 rounded-3" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Non</button>
		    </div>
	    </div>
    </div>
</div>
</div>
<!--**********************************Edit confirmation modal************************* -->
	<div class="modal fade" id="editModalToggle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  	<div class="modal-content">
				<div class="modal-header bg-dark">
					<h5 class="modal-title text-center text-white" id="exampleModalLabel">ÉDITION DE SALLE</h5>
					<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="form">
						<form action="">
							<div class="d-grid px-lg-5">
								<label>Nom de la salle</label>
					            <input type="text" placeholder="Nom de la salle" class="my-3 bg-dark p-2 border-0 text-white rounded">
					            <label>Capacité</label>
					            <input type="number" placeholder="Nom de la salle" class="my-3 bg-dark p-2 border-0 text-white rounded">
							</div>
							<div class="modal-footer d-flex justify-content-center px-5">
								<button type="button" class="btn bg-pink text-white px-lg-5">Sauvegarder</button>
							</div>
						</form>
					</div>
	      		</div>
	    </div>
	  </div>
	</div>
{% endblock %}


{% block extra_script %}

	<script type="text/javascript">
	</script>

{% endblock %}
