{% extends 'core/base.html' %}

{% block extra_style %}

{% endblock %}

{% block title %} SchoolPlanner - Accueil {% endblock %}


{% block content %}

	<div class="container-fluid my-5 d-flex justify-content-center ps-lg-5 pe-4">

		<div class="container-fluid ps-lg-5">

			<div class="d-flex justify-content-between">
				<h3 class="fw-bold mb-4">Mes emplois de temps</h3>
				
				<div>
					<select id="selectAction" name="class" class="mt-4 bg-dark p-2 border-0 text-white rounded">
						<option value="class">Afficher par Classe</option>
						<option value="classroom">Afficher par Salle</option>
						<option value="teacher">Afficher par Enseignant</option>
					</select>
				</div>
			</div>
			{% include 'core/message.html' %}
			<div class="row">
			{% for planning in plannings %}
				<div class="col-lg-3 bg_multi_color p-3 m-3 rounded shadow">
					<a href="{%url 'core:edit_shedule' planning.id %}" class="text-decoration-none">
						<p class="text-light fs-5 fw-bold">{{planning.name}}</p>
						<p class="text-light">Semestre: {{planning.semester}}</p>
						<p class="text-light my-0">Année académique: {{planning.school_year}}</p>
					</a>
				</div>
			{% endfor %}
			</div>

			<div class="d-flex justify-content-end mt-5">

					<button class="border-0 bg-dark p-2 fw-bold text-light px-5 rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Nouveau 
					</button>
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header bg-dark">
									<h5 class="modal-title text-center text-white" id="exampleModalLabel">CRÉER UN NOUVEL EMPLOIS DE TEMPS</h5>
									<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<form action="{% url 'core:home' %}" method="POST">
										{% csrf_token %}
										<div class="d-grid px-lg-5 mt-5">
											<label for="">Donnez un nom à votre emploi de temps :</label>
											<input name="name" type="text" placeholder="Titre ou Nom" class="mt-2 bg-dark p-2 border-0 text-white rounded" required>
										</div>
										<div class="d-grid px-lg-5 mt-5">
											<label for="">Précisez le semestre :</label>
											<select name="semester" id="" class="mt-2 bg-dark p-2 border-0 text-white rounded" required>
												<option value="" selected disabled hidden>selectionner un semestre</option>
												<option value="s1">Semestre 1</option>
												<option value="s2">Semestre 2</option>
												
											</select>
										</div>
										<div class="d-grid px-lg-5 mt-5">
											<label for="">Année académique :</label>
											<select name="school_year" id=""  class="mt-2 bg-dark p-2 border-0 text-white rounded" required>
												<option value="" selected disabled hidden>selectionner une année </option>
												<option value="2019-2020">2019-2020</option>
												<option value="2020-2021">2020-2021</option>
												<option value="2021-2022">2021-2022</option>
											</select>
										</div>
										<div class="d-grid px-lg-5 mb-5 mt-3">
											<label for="" class="mt-3">Elle concerne la classe :</label>
											<select name="grade" class="mt-2 bg-dark p-2 border-0 text-white rounded" required>
												<option value="" selected disabled hidden>selectionner la classe concernée </option>
												{% for grade in grades %}
													<option value="{{grade.id}}">{{grade.name}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="modal-footer d-flex justify-content-center px-5">
											<button type="submit" class="btn bg-pink text-white px-lg-5">Créer</button>
										</div>
									</form>
								</div>

							</div>
						</div>
					</div>
				
			</div>

			<div class="d-none">
				<!-- Affichage par Salle -->
				<div id="classrooms" class="row mt-5">
					<p class="fw-bold fs-5 my-0">Affichage par classe</p>
					<div class="col-lg-3 bg_multi_color p-3 m-3 rounded shadow">
						<a href="#" class="text-decoration-none">
							<p class="text-light fs-5 fw-bold">Emplois de temps 1</p>
							<p class="text-light">Semestre: S1</p>
							<p class="text-light my-0">Année académique: 2021 - 2022</p>
						</a>
					</div>
				</div>

				<!-- Affichage par Enseignant -->
				<div id="teachers" class="row mt-5">
					<p class="fw-bold fs-5 my-0">Affichage par enseignant</p>
					<div class="col-lg-3 bg_multi_color p-3 m-3 rounded shadow">
						<a href="#" class="text-decoration-none">
							<p class="text-light fs-5 fw-bold">Emplois de temps 1</p>
							<p class="text-light">Semestre: S1</p>
							<p class="text-light my-0">Année académique: 2021 - 2022</p>
						</a>
					</div>
				</div>
			</div>

		</div>
	
	</div>

{% endblock %}

{% block extra_script %}

	<script type="text/javascript">

		let box = document.querySelectorAll(".bg_multi_color");
		//Attribution des couleurs aux div de facon aleatoire
		window.onload = function() {
			for(i=0; i<box.length; i++){
				let randomColor = "#" + (Math.floor(Math.random()*16777215)).toString(16);
				while(randomColor.length<7){
					randomColor = "#" + (Math.floor(Math.random()*16777215)).toString(16);
				}
				box[i].style.backgroundColor = randomColor;
			}
		}

		//$(document).ready(function () {
            $("#selectAction").change(function () {
                const vals =
					$("#selectAction").find(
						"option:selected"
					).val();

				if(vals == "teacher"){
					console.log(vals)
					$("teachers").css("display", "block");
					top.location.href="#teachers";
				}
				if(vals == "classroom"){
					console.log(vals)
					$("classrooms").css("display", "block");
					top.location.href="#classrooms";
				}
            });
        //});

	</script>

{% endblock %}
