{% extends 'core/base.html' %}
{% load static %}

{% block title %} SchoolPlanner - Timetable {% endblock %}

{% block extra_style %}
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/timetable.css' %}">
{% endblock %}

{% block content %}

	<div class="ps-lg-5">
		<div class="container-fluid my-4 ps-lg-5 w-100">

			<div class="container">
				<div class="text-center">
					<h6 class="mb-4 fw-bold">
						<p>EMPLOIS DU TEMPS : {{planning.nom|title}}</p>
						<p>{{planning.semester|title}}__ANNEE ACADEMIQUE {{planning.school_year}}</p>
						<p>{{planning.grade.field.name|title}} ({{planning.grade.field.abr}})</p>
						<p>{{planning.grade.name}}</p>
					</h6>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered" id="editableTable">
							<thead>
								<tr>
									<th></th>
									
									{% for day in week_days  %}
									<th class="th">{{day|first}}</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody id="tbody">
								{% with uid=cells.count %}
								
								{% for hour in ranges %}
								
									<tr data-id="{{forloop.counter}}">

										<td data-field="name" class="fw-bold text-center">{{hour|first}}</td>
										
										{% for day in week_days %}

											{% if first_cell.day == day|first and first_cell.range == hour|first %}
												<td onclick="changeCell('{{first_cell.id}}', '{{first_cell.classroom.name}}')" class="text-decoration-none bg-pink2" data-field="{{first_cell.day}}" data-bs-toggle="modal" href="#exampleModal{{first_cell.id}}">
													<a title="Détails">
														<div class="p-2 text-center">
															<p class="fs-5 text-center">{{first_cell.unit.code}}</p>
															<p class="my-0">{{first_cell.teacher.name}}</p>
															<p>{{first_cell.classroom.name}} {{cell.id}}</p>
														</div>
													</a>
												</td>
											{% else %}
												{% with empty_var=first_cell.rand %}
												<td id="cell" onclick="changeCell(`{{empty_var}}`, '{{empty_var}}')" class="text-decoration-none"  data-bs-toggle="modal" href="#exampleModal_cell">
													<a title="Détails">
														<div class="p-2 text-center">
															<p class="fs-5 text-center d-none">{{empty_var}}</p>
															<p class="my-0">{{empty_var}}</p>
															<p></p>
														</div>
													</a>
												</td>
												<div class="modal fade" id="exampleModal_cell{{empty_var}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header bg-dark">
																<h5 class="modal-title text-center text-white" id="exampleModalLabel">PARAMÈTRES PLANNING</h5>
																<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																<div>
																	<p class="mt-3">Cours: <span id="course" class="fw-bold"></span></p>
																	<p class="mt-3">Enseignant: <span id="teacher" class="fw-bold"></span></p>
																	<p class="mt-3">Salle: <span id="classroom" class="fw-bold"></span></p>
																</div>
																<div>
																	<div class="d-flex justify-content-between mt-4">
																		<button type="button" class="btn bg-dark text-white px-lg-4">Supprimer</button>
																		<button onclick="show_hide('{{empty_var}}')" class="bg-transparent border-0">
																			<i class="fa fa-pencil text-pink2 fs-5"></i><span class="ms-2">Modifier</span>
																		</button>
																	</div>
																	<div id="form{{empty_var}}">
																		<form action="">
																			<div class="d-grid px-lg-5">
																				<select name="unit" id="courses" class="mt-5 bg-dark p-2 border-0 text-white rounded">
																					<option value="" selected disabled hidden>selectionner une unité</option>
																					{% for unit in units %}<option value="{{unit.id}}">{{unit.code}}</option>{% endfor %}
																				</select>
																				<select name="teacher" id="teachers" class="my-3 bg-dark p-2 border-0 text-white rounded">
																					<option value="" selected disabled hidden>selectionner un enseignant</option>
																					{% for teacher in teachers %}<option value="{{teacher.id}}">{{teacher.name}}</option>{% endfor %}
																				</select>
																				<select name="classroom" id="classrooms" class="mb-5 bg-dark p-2 border-0 text-white rounded">
																					<option value="" selected disabled hidden>selectionner une salle</option>
																					{% for room in classrooms %}<option value="{{room.id}}">{{room.name}}</option>{% endfor %}
																				</select>
																			</div>
																			<div class="modal-footer d-flex justify-content-center px-5">
																				<button type="submit" class="btn bg-pink text-white px-lg-5">Enregistrer</button>
																			</div>
																		</form>
																	</div>
																</div>
															</div>
															
														</div>
													</div>
												</div>
		
												{% endwith %}
											{% endif %}
												<div class="modal fade" id="exampleModal{{first_cell.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header bg-dark">
															<h5 class="modal-title text-center text-white" id="exampleModalLabel">PARAMÈTRES PLANNING</h5>
															<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															<div>
																<p class="mt-3">Cours: <span id="course" class="fw-bold">{{first_cell.unit.code}} - {{first_cell.unit.name}}</span></p>
																<p class="mt-3">Enseignant: <span id="teacher" class="fw-bold">{{first_cell.teacher.name}}</span></p>
																<p class="mt-3">Salle: <span id="classroom" class="fw-bold">{{first_cell.classroom.name}}</span></p>
															</div>
															<div>
																<div class="d-flex justify-content-between mt-4">
																
																{% if first_cell.id %}
																<a href="{% url 'core:delete_provide' first_cell.id %}"><button type="button" class="btn bg-dark text-white px-lg-4">Supprimer</button></a>
																{% endif %}
																	<button onclick="show_hide('{{first_cell.id}}')" class="bg-transparent border-0">
																		<i class="fa fa-pencil text-pink2 fs-5"></i><span class="ms-2">Modifier</span>
																	</button>
																</div>
																<div id="form{{first_cell.id}}">
																	<form action="{% url 'core:update_provide' first_cell.id %}" method='post'>
																		{% csrf_token %}
																		<div class="d-grid px-lg-5">
																			<select name="unit" id="courses" class="mt-5 bg-dark p-2 border-0 text-white rounded">
																				<option value="" selected disabled hidden>selectionner une unité</option>
																				{% for unit in units %}<option value="{{unit.id}}">{{unit.code}}</option>{% endfor %}
																			</select>
																			<select name="teacher" id="teachers" class="my-3 bg-dark p-2 border-0 text-white rounded">
																				<option value="" selected disabled hidden>selectionner un enseignant</option>
																				{% for teacher in teachers %}<option value="{{teacher.id}}">{{teacher.name}}</option>{% endfor %}
																			</select>
																			<select name="classroom" id="classrooms" class="mb-5 bg-dark p-2 border-0 text-white rounded">
																				<option value="" selected disabled hidden>selectionner une salle</option>
																				{% for room in classrooms %}<option value="{{room.id}}">{{room.name}}</option>{% endfor %}
																			</select>
																			<select name="group" id="classrooms" class="mb-5 bg-dark p-2 border-0 text-white rounded">
																				<option value="" selected disabled hidden>selectionner un groupe/specialité</option>
																				{% for group in groups %}<option value="{{group.id}}">{{group.name}}</option>{% endfor %}
																			</select>
																		</div>
																		<div class="modal-footer d-flex justify-content-center px-5">
																			<button type="submit" class="btn bg-pink text-white px-lg-5">Enregistrer</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
														
													</div>
												</div>
											</div>

											
												
											
											{% for cell in cells  %}
												{% if cell.day == day|first and cell.range == hour|first %}
													<td onclick="changeCell('{{cell.id}}', '{{cell.classroom.name}}')" class="text-decoration-none bg-pink2" data-field="{{cell.day}}" data-bs-toggle="modal" href="#exampleModal{{cell.id}}">
														<a title="Détails">
															<div class="p-2 text-center">
																<p class="fs-5 text-center">{{cell.unit.code}}</p>
																<p class="my-0">{{cell.teacher.name}}</p>
																<p>{{cell.classroom.name}}</p>
															</div>
														</a>
													</td>
													
												{% endif %}
												<div>
													<div class="modal fade" id="exampleModal{{cell.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header bg-dark">
																	<h5 class="modal-title text-center text-white" id="exampleModalLabel">PARAMÈTRES PLANNING</h5>
																	<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
																</div>
																<div class="modal-body">
																	<div>
																		<p class="mt-3">Cours: <span id="course" class="fw-bold">{{cell.unit.code}} - {{cell.unit.name}}</span></p>
																		<p class="mt-3">Enseignant: <span id="teacher" class="fw-bold">{{cell.teacher.name}}</span></p>
																		<p class="mt-3">Salle: <span id="classroom" class="fw-bold">{{cell.classroom.name}}</span></p>
																	</div>
																	<div>
																		<div class="d-flex justify-content-between mt-4">
																			{% if cell %}
																			<a href="{% url 'core:delete_provide' cell.id %}"><button type="button" class="btn bg-dark text-white px-lg-4">Supprimer</button></a>
																			{% endif %}
																			<button onclick="show_hide('{{cell.id}}')" class="bg-transparent border-0">
																				<i class="fa fa-pencil text-pink2 fs-5"></i><span class="ms-2">Modifier</span>
																			</button>
																		</div>
																		<div id="form{{cell.id}}">
																			<form action="{% url 'core:update_provide' cell.id %}" method='post'>
																				{% csrf_token %}
																				<div class="d-grid px-lg-5">
																					<select name="unit" id="courses" class="mt-5 bg-dark p-2 border-0 text-white rounded">
																						<option value="" selected disabled hidden>selectionner une unité</option>
																						{% for unit in units %}<option value="{{cell.unit.id}}">{{unit.code}}</option>{% endfor %}
																					</select>
																					<select name="teacher" id="teachers" class="my-3 bg-dark p-2 border-0 text-white rounded">
																						<option value="" selected disabled hidden>selectionner un enseignant</option>
																						{% for teacher in teachers %}<option value="{{teacher.id}}">{{teacher.name}}</option>{% endfor %}
																					</select>
																					<select name="classroom" id="classrooms" class="mb-5 bg-dark p-2 border-0 text-white rounded" {{cell.classroom.name}}>
																						<option value="" selected disabled hidden>selectionner une salle</option>
																						{% for room in classrooms %}<option value="{{room.id}}">{{room.name}}</option>{% endfor %}
																					</select>
																					<select name="group" id="classrooms" class="mb-5 bg-dark p-2 border-0 text-white rounded" value='{{cell.group.name}}'>
																						<option value="" selected disabled hidden>selectionner un groupe/specialité</option>
																						{% for group in groups %}<option value="{{group.id}}">{{group.name}}</option>{% endfor %}
																					</select>
																				</div>
																				<div class="modal-footer d-flex justify-content-center px-5">
																					<button type="submit" class="btn bg-pink text-white px-lg-5">Enregistrer</button>
																				</div>
																			</form>
																		</div>
																	</div>
																</div>
																
															</div>
														</div>
													</div>
												</div>	
													
											{% endfor %}
											
										{% endfor %}
									</tr>
								</div>
								{% endfor %}
								{% endwith %}
							</tbody>
							
						</table>
				</div>
			</div>


		</div>
	</div>


{% endblock %}



{% block extra_script %}

	<script type="text/javascript">

		//show course, class and teacher after select in dropdown
		$('#courses').on('input', function () {
        	$('#course').text($('#courses').val());
    	})
		$('#teachers').on('input', function () {
        	$('#teacher').text($('#teachers').val());
    	})
		$('#classrooms').on('input', function () {
        	$('#classroom').text($('#classrooms').val());
    	})

		

		function show_hide(id_form) {
			var x = document.getElementById("form-"+id_form);
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}

		function changeCell(id_cell, classroom){

			let td = document.getElementsByTagName('td');
			for (let i = 0; i < td.length; i++) {
				td[i].onclick = function() {
					//modal.style.display = "block";
					//console.log(i);
					//console.log(course, teacher, classroom)

					if(classroom == 0){
						classroom = i
						//console.log(classroom)
						//this.style.display='none';
					}
					console.log(id_cell, classroom)

					$.fn.test = function() {
						return this.each(function(){
							var new_id = i;
							$(this).attr('id',   this.id + '_' + new_id);
						});
					};

					$(document).ready(function() {
						$('#cell').test()
					});
				}
			}

			
		}

	</script>
	

{% endblock %}