{% extends 'core/base.html' %}
{% load static %}
{% block title %} SchoolPlanner - Units {% endblock %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/style_1.css' %}">
{% endblock %}

{% block content %}


<div class="container-fluid my-4 pt-4 ps-lg-2 ms-lg-2">
	<div class="container">
		<!-- <span class="d-flex">
			<i class="fa fa-home mx-2 mt-1" aria-hidden="true"></i>
			<i class="fa fa-chevron-right mt-1" aria-hidden="true"></i>
			<p class="mx-2">Dashboard</p>
			<i class="fa fa-chevron-right mt-1" aria-hidden="true"></i>
			<p class="fw-bold">Filieres</p>
		</span> -->
		<h3 class="fw-bold">Unités d'Enseignement</h3>
		<div class="row row-cols-md-3 row-cols-sm-2  row-cols-lg-5 space g-2 g-lg-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
			<!-- Boucle pour afficher l'ensemble des cours -->
			
			{% for unit  in units %}
				<div class="col">
					<div id='{{unit.id}}'class="py-4 px-2 shadow forme mod"  data-bs-toggle="modal" href="#modifModal{{unit.id}}">
						<h4 class="fw-bold text-white">{{unit.code}}</h4>
						<p class="text-white">{{unit.name}}</p>
						<p class="text-white">{{unit.grade.level.abr}},  {{unit.grade.field.abr}}</p>
					</div>
				</div>
				<!-- Modal de modification -->
				<div class="modal fade" id="modifModal{{unit.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-dark">
								<h5 class="modal-title text-center text-white" id="exampleModalLabel">MODIFICATION DE L'UNITÉ</h5>
								<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div>
									<p class="mt-3">Code: <span class="fw-bold">{{unit.code}}</span></p>
									<p class="mt-3">Intitule: <span class="fw-bold">{{unit.name}}</span></p>
									<p class="mt-3">Cycle: <span class="fw-bold">{{unit.grade.level.abr}},  {{unit.grade.field.abr}}</span></p>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<button onclick="show_hide('{{unit.id}}')" class="bg-transparent border-0">
											<i class="fa fa-pencil text-pink2 fs-5"></i>
											<span class="ms-2">Modifier</span>
										</button>
									</div>
									<div id="form-{{unit.id}}" class="form_popup">
										<form action="{% url 'core:update_unit' unit.id %}" method='post'>
											{% csrf_token %}
											<div class="d-grid px-lg-5"> 
												<span class="span1 ms-2 text-danger" >{% for error in form.code.errors %}{{error}}{% endfor %}</span>
												<input type="text" placeholder="Code de l'unité"  class="my-3 bg-dark p-2 border-0 text-white rounded" name="code" value="{{unit.code|default_if_none:''}}">
												
												<span class="span2 ms-2 text-danger" >{% for error in form.name.errors %}{{error}}{% endfor %}</span>
												<input type="text" placeholder="Intitulé du cour" class="my-3 bg-dark p-2 border-0 text-white rounded" name="name" value="{{unit.name|default_if_none:''}}">
												
												{% for error in form.type.errors %}<span id='span3' class="ms-2 text-danger" >{{error}}</span>{% endfor %}
												<select name="type" id="" class="my-3 bg-dark p-2 border-0 text-white rounded" value="{{unit.type|default_if_none:''}}">
													<option value="TP">TP</option>
													<option value="Td">TD</option>
													<option value="Cour">Cours</option>
												</select>
												
												{% for error in form.grade.errors %}<span id='span4' class="ms-2 text-danger" >{{error}}</span>{% endfor %}
												<select name="grade" id="" class="my-3 bg-dark p-2 border-0 text-white rounded" value="{{unit.grade|default_if_none:''}}">
													{% for grade in  grades %}<option value="{{grade.id}}">{{grade.name}}</option>{% endfor %}
												</select>
											
											</div>
											<div class="modal-footer d-flex justify-content-center px-5">
												<button type="submit" class=" btn bg-pink text-white px-lg-5">Enregistrer</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<!-- FIN Boucle pour afficher l'ensemble des cours -->
			<div class="col">
				<div class="p-5 shadow forme ajout" data-bs-toggle="modal" href="#ajoutModal">
					<p class="text-center">
						<i class="fa fa-plus fs-1 text-white" aria-hidden="true"></i>
					</p>
				</div>
			</div>
		 <!-- Modal d'ajout -->
		 <div class="modal fade" id="ajoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bg-dark">
						<h5 class="modal-title text-center text-white" id="exampleModalLabel">NOUVELLE UNITÉ</h5>
						<button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="{%url 'core:create_unit' %}" method='post'>
							{% csrf_token %}
							<div class="d-grid px-lg-5">
								<input type="text" placeholder="Code de l'unité"  class="my-3 bg-dark p-2 border-0 text-white rounded" name="code">
								<input type="text" placeholder="Intitulé du cour" class="my-3 bg-dark p-2 border-0 text-white rounded" name="name">
								<select name="type" id="" class="my-3 bg-dark p-2 border-0 text-white rounded">
									<option value="TP">TP</option>
									<option value="TD">TD</option>
									<option value="Cour">Cour</option>
								</select>
								<select name="grade" id="" class="my-3 bg-dark p-2 border-0 text-white rounded">
									{% for grade in  grades %}<option value="{{grade.id}}">{{grade.name}}</option>{% endfor %}
								</select>
							</div>
							<div class="modal-footer d-flex justify-content-center px-5">
								<button type="submit" class="btn bg-pink text-white px-lg-5">Enregistrer</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	  </div>
</div>



{% endblock %}



{% block extra_script %}

	<script type="text/javascript">
		let forme = document.querySelectorAll(".forme");

		//Attribution des couleurs aux div de facon aleatoire
		window.onload = function() {
			for(i=0; i<forme.length; i++){
				let randomColor = "#" + (Math.floor(Math.random()*16777215)).toString(16);
				while(randomColor.length<7){
					randomColor = "#" + (Math.floor(Math.random()*16777215)).toString(16);
				}
				forme[i].style.backgroundColor = randomColor;
			}
		}

		function show_hide(id_form) {
			var x = document.getElementById("form-"+id_form);
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}

		function show_errors(){
			const error1 = document.querySelector('.span1');
			const error2 = document.querySelector('.span2');
			var error = false
			console.log(error1)
			if(error1.textContent){
				error = false;
			}
			else{
				true
			}
			if(error2.textContent){
				error = false;
			}
			else{
				true
			}
			console.log(error)
			return error
		}
		
	</script>
	

{% endblock %}