.bg-dark{
    background-color: #37354A !important;
}
.bg-pink{
    background-color: #ff0052 !important;
}

.forme{
    border-radius: 12px;
}

.space{
    margin-top: 3rem;
}
.new{
    border-radius: 0.8rem;
}

.form_popup{
    display: none;
}