*{
    transition: .3s ease-in-out;
}
.text-dark{
    color: #37354A !important;
}
.bg-dark{
    background-color: #37354A !important;
}
.bg-pink{
    background-color: #FF0052;
}
.bg-pink2{
    background-color: #ffcbda !important;
}
.text-pink{
    color: #C35C7B;
}
.text-pink2{
    color: #FF0052;
}
input:focus{
    outline: none;
}
.bg_login{
    height: 100vh;
    object-fit: cover;
}
.bg_register{
    height: 100%;
    object-fit: cover;
}
.th{
    width: 160px;
    background-color: #C35C7B;
}
#form{
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "robotoregular", sans-serif;
}

ol, ul{
    padding-left: 0px !important;
}

body {
    min-height: 100vh;
}

nav {
    position: fixed;
    width: 60px;
    height: 100%;
    background: var(--bg-secondary);
    transition: .5s;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav.active {
    width: 300px;
}

/* nav:hover {
    width: 300px;
} */

nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li {
    list-style: none;
    width: 100%;
    position: relative;

}

nav ul li a:hover {
    color: var(--bg-primary);
}

nav ul li:hover a::before {
    background-color: var(--bg-active);
    width: 100%;
}

nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cl-text);
    transition: .2s;
}

nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .2s;
}

nav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

nav ul li a .title {
    position: relative;
    font-size: .85em;
}

nav ul li a .icon * {
    font-size: 1.1em;
}

nav ul li a.toggle {
    border-bottom: 3px solid var(--bg-primary);
}

.toggle {
    cursor: pointer;
}

header {
    display: none;
}

.bg_home{
    /* background-image: url('/static/core/images/bg_home.jpg'); 
    background-size: cover; */
    min-height: 100vh;
    background: rgb(255, 249, 253);
}
.bg_img{
    background-image: url('/static/core/images/bg_home2.jpg');
    background-size: cover;
}

#all_timetable{
    display: none;
}

/* account page */

.avatar-upload {
    position: relative;
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: 2px;
    z-index: 1;
    top: 8px;
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FF0052;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: #FF0052;
    border-color: #ffcbda;
  }
  .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #fff;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }
  .avatar-upload .avatar-preview {
    position: relative;
    border-radius: 100%;
    border: 6px solid #FF0052;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


@media (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background: var(--bg-secondary);
        color: var(--cl-text);
    }

    header a {
        color: var(--cl-text)
    }

    nav {
        left: -60px;
    }

    nav.active {
        left: 0;
        width: 100%;
    }

    nav ul li a.toggle {
        display: none;
    }

    #dashboard_nav{
        display: none;
    }

    .bg_login, .bg_register{
        display: none;
    }
}

:root {
    --bg-primary: rgb(255, 199, 239);
    --bg-secondary: #37354A;
    --bg-active: #FF0052;
    --cl-text: #f6f4e6;
}